{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {% if data['respondent'] == 'true' %} 
        <form action="./confirm?respondent=true&tasklist=false" method="post" novalidate>  
      {% else %}
        <form action="./confirm?respondent=false&tasklist=false" method="post" novalidate>
      {% endif %}

        {{ govukRadios({
          idPrefix: "income",
          name: "income",
          fieldset: {
            legend: {
              text: "Do you have any educational qualifications for which you received a certificate?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              divider: "or"
            },
            {
              value: "prefer-not-to-say",
              text: "Prefer not to say"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        <br>
         {% if data['respondent'] == 'true' %} 
            <a href="https://div-pcq-prototype.herokuapp.com/respondent-placeholder" class="govuk-link govuk-!-font-size-19">Return to response information</a>
        {% else %}
            <a href="https://div-pcq-prototype.herokuapp.com/applicant-placeholder" class="govuk-link govuk-!-font-size-19">Return to claim information</a>
        {% endif %}
      

      </form>
    </div>
  </div>
{% endblock %}