{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['respondent'] == 'true' %} 
        <form action="./thank-you?respondent=true" method="post" novalidate>  
      {% else %}
        <form action="./thank-you?respondent=false" method="post" novalidate>
      {% endif %}

        {% set otherOtherHtml %}
        {{ govukInput({
          id: "sexual-orientation-other",
          name: "sexual-orientation-other",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Please enter how you think of yourself"
          }
        }) }}
        {% endset -%}

         <span class="govuk-caption-xl">Equality monitoring</span>
         <h1 class="govuk-heading-l">Which of the following best describes how you think of yourself?</h1>

        {{ govukDetails({
          summaryText: "How we protect your data",
          text: "Your sexual orientation will be stored separately from other personal details, like your name, so it’s not possible to identify you. It will be stored securely for 2 years in line with our privacy policy. "
        }) }}
        
        {{ govukRadios({
          idPrefix: "what-is-your-sexual-orientation",
          name: "what-is-your-sexual-orientation",
          items: [
            {
              value: "heterosexual-straight",
              text: "Heterosexual or straight"
            },
            {
              value: "gay-lesbian",
              text: "Gay or Lesbian"
            },
            {
              value: "bisexual",
              text: "Bisexual"
            },
            {
              value: "other",
              text: "Other",
                conditional: {
                html: otherOtherHtml
               }
            },
            {
              divider: "or"
            },
            {
              value: "prefer-not-to-say",
              text: "Prefer not to say"
            }
          ]
        }) }}

            <br>
            
            {{ govukButton({
              text: "Continue to last question"
            }) }}

            <br>
         {% if data['respondent'] == 'true' %} 
            <a href="https://div-pcq-prototype-master.herokuapp.com/respondent-placeholder" class="govuk-link">Cancel and return to response information</a>
        {% else %}
            <a href="https://div-pcq-prototype-master.herokuapp.com/applicant-placeholder" class="govuk-link">Cancel and return to claim information</a>
        {% endif %}

      </form>
    </div>
  </div>
{% endblock %}